#titulo {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#formbody {
  display: flex;
  justify-content: center;
}

#agendamentos {
  margin-top: 30px;
}

.erro {
  color: red;
}

#container {
  position: relative;
  width: 25%;
  padding: 4%;
  border-radius: 20%;
  margin: 1% auto 12.6% auto;
  background-color: #ff8411;
}

#agenda {
  width: 32%;
  margin: 20px auto 0 auto;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  display: block;
}

/* Responsividade para notebook */
@media (max-width: 1300px) {
  #container {
    width: 40%;
    margin: 1% auto;
  }

  #agenda {
    width: 40%;
  }
}

/* Responsividade para celular */
@media (max-width: 768px) {
  #container {
    width: 80%;
    padding: 6%;
    border-radius: 10px;
    margin: 5% auto;
  }

  #agenda {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #titulo {
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
  }

  #formbody {
    flex-direction: column;
    align-items: center;
  }

  #agendamentos {
    margin-top: 20px;
    padding: 0 10px;
  }
}
