<main>
  <div id="container">
    <h2>Agendar Visita</h2>

    <label for="data">Data:</label>
    <input type="date" id="data" [(ngModel)]="data" name="data">

    <label for="hora">Hora:</label>
    <input type="time" id="hora" [(ngModel)]="hora" name="hora">

    <label for="services">Serviço:</label>
    <select id="services" [(ngModel)]="servico" name="services">
      <option value="banho">Banho</option>
      <option value="tosa">Tosa</option>
      <option value="banho_tosa">Banho & Tosa</option>
    </select>
    <label for="pet">Qual o seu pet?</label>
   <select name="pets" id="pets">
    <option value="">Cachorro</option>
    <option value="">Gato</option>
    <option value="">Passaro</option>
    <option value="">:::</option>
   </select>
    <button id="agenda" (click)="agendar()">Agendar</button>

    <p id="erro-msg" *ngIf="erroMsg" style="color: red;">{{ erroMsg }}</p>

    <div id="agendamentos" *ngIf="agendamentos.length > 0">
      <h3>Agendamentos:</h3>
      <ul id="lista-agendamentos">
        <li *ngFor="let agendamento of agendamentos">
          {{ agendamento.data }} às {{ agendamento.hora }} Serviço Solicitado: {{ agendamento.servico | titlecase }}
        </li>
      </ul>
    </div>
  </div>
</main>
